.App {
  display: flex;
  flex-direction: column;
  height: 100%
}

.App__Row {
  flex: 1;
  display: flex;
}

.App__Page {
  flex: 1;
  padding-top: 54px;
  padding-left: 81px;
  padding-right: 81px;
  background: linear-gradient(249.79deg, #1e075f 16.9%, #4d00b4 69.8%);
}
