.HomePage__Row {
    display: flex;
    flex-wrap: wrap;
}

.HomePage__Crowdfunding {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.HomePage__TwitterFeed {
    margin: 8px;
    flex: 1;
}