.SideBar {
    position: relative;
    width: 260px;
    background: #5b15ba;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
}

@media (max-width: 768px) {
    .SideBar {
        display: none;
    }
}

.SideBar__Banner {
    padding-bottom: 25px;
    margin: auto auto 0 auto;
}