.Footer {
  height: 60px;
  background: #1e075f;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  display: flex;
}

.Footer__Column {
  align-self: center;
}

.Footer__Column:first-child {
  padding-left: 45px;
}

.Footer__Column:last-child {
  padding-right: 45px;
}

.Footer__Column img {
  margin-left: 15px;
}
