.CrowdfundingTokens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.CrowdfundingTokens__Spinner {
    font-size: 36px;
    padding: 10px;
}
