.InfoPanel {
    margin: 8px;
    background: #5016A7;
    border-radius: 12px;
    display: flex;
    flex: 1;
}

.InfoPanel--small {
    width: 21.5vw;
    height: 120px;
    padding: 8px 14px;
}

.InfoPanel--token {
    flex: 1;
    height: 140px;
    padding: 28px 15px;
}

.InfoPanel--badge {
    flex: 1;
    height: 140px;
    padding: 28px 15px;
}

.InfoPanel--big {
    padding: 25px;
}

/* InfoPanel__Data */

.InfoPanel__Data {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-line;
}

.InfoPanel__Data--small {
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: space-evenly;
}

.InfoPanel__Data--token {
    padding-top: 1px;
    padding-bottom: 1px;
}

.InfoPanel__Data--badge {
    padding-top: 1px;
    padding-bottom: 1px;
}

.InfoPanel__Data--big {
    margin-left: 25px;
}


/* InfoPanel__Data__Value */

.InfoPanel__Data__Value--small {
    font-size: 18px;
    line-height: 21px;
}

.InfoPanel__Data__Value--token {
    font-size: 36px;
    line-height: 42px;
}

.InfoPanel__Data__Value--badge {
    font-size: 36px;
    line-height: 42px;
}

.InfoPanel__Data__Value--big {
    font-size: 40px;
    line-height: 56px;
}


/* InfoPanel__Data__Label */

.InfoPanel__Data__Label {
    color: #D09CFF;
    white-space: pre-line;
}


.InfoPanel__Data__Label--small {
    font-size: 14px;
    line-height: 16px;
}

.InfoPanel__Data__Label--token {
    font-size: 18px;
    line-height: 21px;
}

.InfoPanel__Data__Label--badge {
    font-size: 18px;
    line-height: 21px;
}

.InfoPanel__Data__Label--big {
    font-size: 18px;
    line-height: 21px;
}

/* InfoPanel__Image */

.InfoPanel__Image {
    display: flex;
    width: 50px;
    height: 50px;
}

.InfoPanel__Image--small {
    width: 102.13px;
    height: 102.13px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.InfoPanel__Image--token {
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.InfoPanel__Image--badge {
    width: 80px;
    height: 80px;
}

.InfoPanel__Image > img {
    width: 100%;
    height: 100%;
}
