.TwitterFeed {
  width: 280px;
  height: 284px;
  background: #ffffff;
  border-radius: 12px;
  margin: 0 20px;
}

.TwitterFeed__Header {
  height: 43px;
  border-bottom: 1px solid #4d00b4;
  display: flex;
  align-items: center;
}

.TwitterFeed__KlerosLogo img {
  margin-left: 12px;
  margin-top: 3px
}

.TwitterFeed__Handle {
  flex: 1;
  margin-left: 8px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #4d00b4;
}

.TwitterFeed__TwitterLogo {
  margin-right: 12px;
}

.Twitter__Tweets img {
  margin-top: 10px;
  margin-left: 12px;
}
