@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#root {
  height: 100vh;
}
